@media (max-width: 1247px) {
  .box1 {
    width: 280px;
    height: 250px;
  }
}

@media (max-width: 1090px) {
  .Slogan-box {
    left: 35%;
  }
  .box1 {
    width: 250px;
    height: 250px;
  }
  .slidercntr {
    margin-bottom: 100px;
  }
}

@media (max-width: 1024px) {
  .nav-items {
    display: none;
  }

  .nav-list {
    margin-left: 0px;
    display: block;
    text-align: center;
    padding: 15px 0;
  }

  .nav-ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(40, 40, 228, 0.801);
    z-index: 1;
  }
  #Navigation-ul ul {
    position: absolute;
    right: 10%;
    top: 15%;
  }
  .menu-btn {
    display: block;
    z-index: 2;
  }
  /* 2 section  */
  .aboutus-container h2 {
    font-size: 40px;
  }

  .aboutus-container h4 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .aboutus-container p {
    font-size: 20px;
  }
  .BG-image-box > div {
    width: 300px;
    height: 300px;
  }

  .whyntp-container h2 {
    font-size: 40px;
  }
  .whyntp-container p {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  /* 3 section */
  .Third-image-box > div {
    width: 400px;
    height: 350px;
    overflow: hidden;
  }

  .How-we-do {
    margin-left: 15px;
    align-items: center;
  }
  .How-we-do h2 {
    font-size: 45px;
    padding: 20px;
  }
  .How-we-do h4 {
    font-size: 23px;
  }
  .How-we-do p {
    font-size: 22px;
    line-height: 1.1;
    padding: 10px;
  }
  .slidercntr {
    height: 70vh;
    margin-bottom: 250px;
  }
  .caption {
    left: 10%;
    top: 40%;
  }
  .accordion-title::before {
    font-size: 20px;
    right: 0px;
  }
  .acordion-box.active .accordion-title::before {
    font-size: 20px;
    right: 0px;
  }
  .accordion-content {
    font-size: 16px;
  }
  .FAQ-image-container > div {
    max-width: 400px;
    height: 350px;
  }
}

@media (max-width: 950px) {
  .box1 h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .box1 {
    width: 220px;
    height: 200px;
  }
}

@media (max-width: 860px) {
  .First-section {
    background-position: center;
  }
  .How-we-do h2 {
    font-size: 40px;
    padding: 20px;
  }
  .How-we-do h4 {
    font-size: 20px;
  }
  .How-we-do p {
    font-size: 22px;
    line-height: 1;
    padding: 5px;
  }

  .box1 h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .box1:hover {
    border: none;
    box-shadow: none;
  }
  .box1 {
    width: 180px;
    height: 180px;
  }
  .section-7 {
    flex-direction: column;
    margin-top: 100px;
  }
  .FAQ-image-container > div {
    width: 350px;
    height: 350px;
  }
  /* footer responsive  */
  .footer-right h3 {
    font-size: 20px;
  }
  .footer-right a {
    font-size: 18px;
  }
  .footer-right a:hover {
    font-size: 18px;
    font-weight: bold;
  }
  /* footer center */
  .footer-center p {
    font-size: 15px;
  }
  .footer-center {
    margin-right: 10px;
  }
  .footer-center span {
    font-size: 16px;
  }
  .Footer-Logo {
    width: 110px;
    height: 110px;
  }
  .footer-distributed .footer-company-name {
    color: #191919;
    font-size: 16px;
    font-weight: normal;
    margin-top: 50px;
  }
}

@media (max-width: 770px) {
  #Navigation-ul ul {
    position: absolute;
    right: 2%;
    top: 15%;
  }
  .Third-image-box > div {
    width: 300px;
    height: 250px;
  }
  .How-we-do h2 {
    font-size: 35px;
    padding: 10px;
  }
  .How-we-do h4 {
    font-size: 20px;
  }
  .How-we-do p {
    font-size: 22px;
    line-height: 1;
    padding: 5px;
  }
  .box1 {
    width: 150px;
    height: 150px;
  }
  .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .caption p {
    font-size: 25px;
  }
  .caption span {
    font-size: 20px;
  }
  .Logo {
    width: 75px;
    height: 75px;
    margin-left: 0%;
  }
  .Slogan-box {
    margin-left: 15px;
  }
  .Slogan {
    font-size: 75px;
  }

  .box1:hover {
    box-shadow: none;
  }

  .Footer-Logo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 698px) {
  .Slogan-box {
    margin-left: 15px;
  }
  .Slogan {
    font-size: 65px;
  }
  /* 2 section  */
  .aboutus-container h2 {
    font-size: 35px;
  }

  .aboutus-container h4 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .aboutus-container p {
    font-size: 18px;
  }
  .BG-image-box > div {
    width: 300px;
    height: 250px;
  }

  .whyntp-container h2 {
    font-size: 35px;
  }
  .whyntp-container p {
    font-size: 18px;
    line-height: 1.1;
  }
  /* 3 section */
  .Third-section {
    flex-direction: column;
    padding: 20px;
  }
  .Third-image-box {
    margin: 10px;
  }
  .sec6-box p {
    font-size: 18px;
    line-height: 1.2;
    margin: 8px;
  }

  .sec6-box h2 {
    font-size: 48px;
  }
  .sec6-box img {
    width: 120px;
    height: 120px;
  }
  .slidercntr {
    display: none;
  }
}

@media (max-width: 645px) {
  .Slogan-box {
    margin-left: 10px;
  }
  .Slogan {
    font-size: 60px;
  }

  .footer-distributed {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Footer-Logo {
    width: 140px;
    height: 140px;
  }
  .footer-left h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 35px;
    color: #1d242b;
  }
  .footer-icons-box i {
    margin-right: 15px;
  }
  .footer-center {
    margin: 10px;
  }
}
@media (max-width: 600px) {
  .Second-section {
    flex-direction: column;
    padding: 25px;
    margin-top: 255px;
    margin-bottom: 350px;
  }
  .aboutus-container {
    align-items: center;
    padding: 10px;
  }
  .aboutus-container h2 {
    margin-bottom: 20px;
  }
  .whyntp-container h2 {
    margin-bottom: 20px;
  }
  .Third-section {
    flex-direction: column-reverse;
  }
  .How-we-do h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 548px) {
  .box1 img {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
  }

  .box1 {
    width: 150px;
    height: 130px;
  }

  .Fourth-section {
    margin-bottom: 105px;
  }

  .section6 {
    margin-top: 5px;
  }
  .sec6-box {
    max-width: 350px;
    width: 100%;
    height: 400px;
    margin: 10px;
    padding: 5px;
  }

  .sec6-box p {
    font-size: 16px;
    line-height: 1.2;
    margin: 8px;
  }
}

@media (max-width: 482px) {
  .box1 img {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
  }
  .box1 {
    width: 120px;
    height: 120px;
  }
  .box1 h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .box1 a {
    font-size: 14px;
  }
  .FAQ-image-container > div {
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }
}
@media (max-width: 448px) {
  .Slogan-box {
    margin-left: 10px;
  }
  .Slogan {
    font-size: 50px;
  }
  .Second-section {
    margin-top: 320px;
    margin-bottom: 430px;
  }
  .whyntp-container p {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .How-we-do h2 {
    margin-bottom: 25px;
  }
  .How-we-do p {
    font-size: 18px;
  }
  .Third-image-box > div {
    margin-top: 10px;
    width: 300px;
    height: 250px;
    overflow: hidden;
  }
}
@media (max-width: 398px) {
  .Second-section {
    margin-top: 400px;
    margin-bottom: 450px;
  }
  .whyntp-container p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .How-we-do p {
    font-size: 16px;
  }
  .Fourth-section {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .Fourth-section h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .box1 img {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }
  .box1 {
    width: 100px;
    height: 100px;
  }
  .box1 h3 {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .box1 a {
    font-size: 15px;
  }
  .FAQ-image-container > div {
    display: none;
  }
  .section-7 {
    margin-bottom: 300px;
  }
}

@media (max-width: 360px) {
  .Second-section {
    margin-top: 420px;
    margin-bottom: 500px;
  }
  .Fourth-section {
    margin-top: 100px;
    height: 500px;
  }
  .section-7 {
    display: none;
  }
  .box1 img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
  }
  .box1 {
    width: 75px;
    height: 75px;
  }
  .box1 h3 {
    font-size: 13px;
    margin-bottom: 3px;
  }
  .box1 a {
    font-size: 14px;
  }
}
