@media (max-width: 1090px) {
  .aboutus-container h4 {
    font-size: 25px;
  }
  .aboutus-container p {
    font-size: 18px;
  }
  .Slogan-box {
    left: 35%;
  }
}

@media (max-width: 1050px) {
  .box1 {
    width: 250px;
    height: 250px;
  }
  .Slider-text span {
    font-size: 25px;
  }
  .Slider-text p {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .nav-items {
    display: none;
  }

  .nav-list {
    margin-left: 0px;
    display: block;
    text-align: center;
    padding: 15px 0;
  }

  .nav-ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 0px;
  }

  .menu-btn {
    display: block;
  }

  .dropdown_menu {
    display: none !important;
  }

  .accordion-title::before {
    font-size: 20px;
    right: 0px;
  }
  .acordion-box.active .accordion-title::before {
    font-size: 20px;
    right: 0px;
  }
  .accordion-content {
    font-size: 16px;
  }
  .section-7 img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 20px;
  }
}

@media (max-width: 990px) {
  .Slogan {
    font-size: 80px;
  }
  .whyntp-container {
    margin-right: 10px;
    margin-left: 10px;
  }
  .whyntp {
    font-size: 14px;
  }
  .whyntp2 {
    font-size: 14px;
  }
}

@media (max-width: 920px) {
  .BG-image {
    min-width: 450px;
    width: 100%;
  }
  .box1 {
    width: 200px;
    height: 200px;
  }
  .box1 h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .box1 img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
}

@media (max-width: 875px) {
  .aboutus-container h2 {
    font-size: 40px;
    font-weight: 400;
  }
  .aboutus-container h2::after {
    width: 270px;
  }
  .aboutus-container p {
    line-height: 1.4;
  }
  .BG-image {
    min-width: 430px;
    width: 100%;
  }
  .whyntp {
    line-height: 1.2;
  }
  .whyntp2 {
    line-height: 1.2;
  }
  .wyntp-title h2 {
    color: white;
    font-size: 80px;
  }
  .Slider-text span {
    color: white;
    font-size: 20px;
    float: right;
    margin-right: 35px;
  }
  .Slider-text p {
    font-weight: bold;
    color: white;
    font-size: 25px;
    line-height: 1.4;
  }
}

@media (max-width: 825px) {
  /* footer responsive  */
  .footer-right h3 {
    font-size: 18px;
  }
  .footer-right a {
    font-size: 16px;
  }
  .footer-right a:hover {
    font-size: 18px;
    font-weight: bold;
  }
  /* footer center */
  .footer-center p {
    font-size: 15px;
  }
  .footer-center {
    margin-right: 10px;
    /* background-color: blue; */
  }
  .footer-center span {
    font-size: 15px;
  }
  .Footer-Logo {
    width: 110px;
    height: 110px;
  }
  .footer-distributed .footer-company-name {
    color: #191919;
    font-size: 16px;
    font-weight: normal;
    margin-top: 50px;
  }
}

@media (max-width: 803px) {
  .aboutus-container h2 {
    font-size: 35px;
    font-weight: 300;
  }
  .Slider-text span {
    color: white;
    font-size: 18px;
    float: right;
    margin-right: 35px;
  }
  .Slider-text p {
    font-weight: bold;
    color: white;
    font-size: 20px;
    line-height: 1.4;
  }
}

@media (max-width: 769px) {
  .Slogan-box {
    margin-left: 15px;
  }
  .Slogan {
    font-size: 75px;
  }
  .Second-section {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .aboutus-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .aboutus-container h2::after {
    display: none;
  }
  .BG-image {
    max-width: 400px;
    width: 100%;
  }

  .whyntp {
    line-height: 1.1;
  }
  .whyntp2 {
    line-height: 1.1;
  }
  .wyntp-title h2 {
    color: white;
    font-size: 60px;
  }

  .Fourth-section {
    padding: 5px;
  }
  .box1 {
    width: 180px;
    height: 180px;
  }
  .box1 h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .box1 img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
}

@media (max-width: 698px) {
  .Slogan-box {
    margin-left: 15px;
  }
  .Slogan {
    font-size: 65px;
  }
  /* footer responsive  */
  .footer-distributed {
    text-align: center;
    align-items: center;
  }
  .footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .whyntp2 {
    display: none;
  }
  .hidden-span {
    display: block;
  }
  .box1 {
    width: 135px;
    height: 135px;
    padding: 5px;
  }
  .box1 h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .box1:hover {
    box-shadow: none;
  }

  .box1 img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
}
