.Section1-services {
  background-image: url("images/Cover\ 2\ \(without\ text\).png");
  background-size: cover;
  height: 100vh;
  margin-bottom: 80px;
  background-repeat: no-repeat;
}





.Section2-services{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  margin-bottom: 80px;
}


.sec2-box {
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width:1170px;
  width: 100%;
  margin: 10px;
  padding:15px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.sec2-box:nth-of-type(even) {
  transform: translateX(-400%);
}

.sec2-box.show {
  transform: translateX(0);
}
.sec2-box p {
  margin-top: 10px;
  max-width: 900px;
  font-size: 21px;
  line-height: 1.2;
  padding: 10px;
}
.sec2-box h2 {
  font-size: 55px;
}


/* section2  */





/* key frame for the bounceIn animation */

/* @keyframes bounceIn {
  5% {
    transform: scale(0.1);
    opacity: 0;
  }

  60% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.bounceIn {
  animation: bounceIn 3s;
}

 */
