.Section1-services {
    background-image: url("images/Cover\ 2\ \(without\ text\).png");
    background-size: cover;
    height: 100vh;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    
}

/* section2  */
.Section2-services {
    padding: 25px ;
    height: 100vh ;
    display: flex;
}

.Section2-services h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
}

.Section2-services p {
    max-width: 800px;
    line-height: 1.2;
    font-size: 18px;
}


/* 3 section */
.Section3-services {
    height: 100vh;
    padding: 25px ;
    height: 100vh ;
    display: flex;
}

.Section2-services h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 15px;

}

.Section3-services p {
    max-width: 800px;

    font-size: 18px;
    float: left;
}

.Section3-services h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 15px;

}


  
.boxxx h3 {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }



  
