html {
  scroll-behavior: smooth;
}

/* header */
.Header {
  width: 100%;
  margin: 0 auto;
  padding: 35px;
  align-items: center;
  z-index: 1;
  display: flex;
}

.Logo {
  width: 85px;
  height: 75px;
  margin-left: 10%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  align-items: center;
  width: 100%;
}
.nav-items {
  margin: 0 auto;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-list {
  color: white;
  font-style: normal;
  margin-left: 30px;
  font-size: 25px;
}

.nav-ul :hover {
  text-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}
/* dropdown */
#Navigation-ul ul {
  position: absolute;
}

.dropdown_menu {
  margin-left: 30px;
  display: none;
}

.dropdown_menu a {
  color: white;
}
.dropdown_menu li {
  margin-top: 15px;
  font-size: 20px;
}
.dropdown_menu li :hover {
  text-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}

.header-list:hover .dropdown_menu {
  display: block;
}

/* burgerstyles */

.test {
  cursor: pointer;
}

.menu-btn {
  transition: all 0.5s ease-in-out;
  display: none;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* animation */

.menu-btn.open .menu-btn__burger {
  transform: translate(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.show {
  display: block !important;
}

.Language {
  color: white;
  font-weight: bold;
}

/* 1 section */

.scroll {
  position: fixed;
  left: 25px;
  bottom: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #1f97e7;
  border-color: #39a6f0;
  padding: 5px;
  z-index: 1;
}
.scrollicon {
  color: #fff;
  font-size: 25px;
  margin: 0 auto;
}

.First-section {
  margin: 0 auto;
  margin-bottom: 150px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("images/NTP_\ cover-optimized.png");
}

.Slogan-box {
  position: absolute;
  margin-left: 25px;
  top: 50%;
  left: 30%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 700px;
}
.Slogan {
  color: white;
  font-size: 90px;
  font-family: "Lato", sans-serif;
}

.Our-Services {
  position: absolute;
  border-radius: 50px;
  border-style: none;
  margin-top: 18px;
  height: 55px;
  width: 180px;
  font-size: 18px;
  color: white;
  background-color: #4bacec;
}

.Our-Services:hover {
  background-color: #1f97e7;
  text-shadow: #c9c1bf;
}

/* second section  */
.Second-section {
  margin-bottom: 100px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.aboutus-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.aboutus-container h2 {
  font-size: 45px;
  text-shadow: 0 0 3px #141414d5;
  margin-bottom: 10px;
}

.aboutus-container h4 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #191919;
  line-height: 1.1;
}

.aboutus-container p {
  font-size: 22px;
  line-height: 1.2;
  color: #191919;
}
.BG-image {
  margin-top: 30px;
  width: 350px;
  height: 250px;
  border: none;
  border-radius: 50%;
}

/* why ntp  */
.whyntp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 400px;
  margin-top: 50px;
}
.whyntp-container h2 {
  font-size: 45px;
  text-shadow: 0 0 3px #141414d5;
}
.whyntp-container p {
  font-size: 21px;
  line-height: 1.1;
  max-width: 500px;
  padding: 15px;
  /* text-align: center; */
}
.whyntp-button {
  border-radius: 50px;
  border-style: none;
  margin-top: 10px;
  font-size: 21px;
  height: 60px;
  width: 180px;
  padding: 8px;
  color: white;
  background-color: #4bacec;
}

/* 3 section */
.Third-section {
  background-image: url("images/2809296.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  align-items: center;
  margin-bottom: 80px;
}

/* how we do it  */
.How-we-do {
  display: flex;
  flex-direction: column;
  height: 500px;
}
.How-we-do h2 {
  font-size: 70px;
  color: white;
  padding: 25px;
}
.How-we-do h4 {
  color: white;
  font-size: 28px;
  text-shadow: 2px 2px 8px #f8f8f8;
}
.How-we-do p {
  color: white;
  font-size: 22px;
  line-height: 1.3;
  max-width: 550px;
  padding: 15px;
}

/*4 section  */

.Fourth-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  margin-bottom: 80px;
}

.Fourth-section h2 {
  font-size: 50px;
  margin-bottom: 20px;
  text-shadow: 0 0 3px #141414d5;
}

.whatwedo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 250px;
  margin: 20px;
  padding: 25px;
}

.box1:hover {
  border: none;
  box-shadow: 3px 3px 3px 3px #37393a48;
}

.box1 img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.box1 h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
.box1 a {
  color: #020202;
}
.box1 a:hover {
  color: #1f97e7;
  font-weight: bold;
}

/* 5 section */
.slidercntr {
  height: 100vh;
  background-color: #1f97e7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.radio {
  display: none;
}
.container {
  position: relative;
  max-width: 1100px;
  margin: 5% auto;
}
.slider {
  width: 100%;
  position: absolute;
  height: 80vh;
  padding-top: 56.25%;
  overflow: hidden;
  border: solid 1px #2e2e2e;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 1.3s;
}

.caption {
  position: absolute;
  width: 100%;
  left:15%;
  top: 50%;
  color: white;
  font-size:40px;
  transition: 0.9s;
}

.caption span {
  display: block;
  text-transform: initial;
  font-size: 30px;
  color: #ffffff;
  max-width: 800px;
  width: 100%;
  margin-bottom: 10px;
}
.dots {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots label {
  width: 15px;
  height: 15px;
  background-color: #080808;
  margin: 0 10px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.dots label:hover {
  opacity: 0.8;
}

#radio-1:checked ~ #slide-1,
#radio-2:checked ~ #slide-2,
#radio-3:checked ~ #slide-3,
#radio-4:checked ~ #slide-4,
#radio-5:checked ~ #slide-5 {
  opacity: 1;
}
/* #radio-1:checked ~ #slide-1 img,
#radio-2:checked ~ #slide-2 img,
#radio-3:checked ~ #slide-3 img,
#radio-4:checked ~ #slide-4 img,
#radio-5:checked ~ #slide-5 img {
  transform: scale(1);
} */

/* #radio-1:checked ~ #slide-1 .caption,
#radio-2:checked ~ #slide-2 .caption,
#radio-3:checked ~ #slide-3 .caption,
#radio-4:checked ~ #slide-4 .caption,
#radio-5:checked ~ #slide-5 .caption {
  opacity: 1;
  top: 50%;

}

#radio-1:checked ~ .dots #label-1,
#radio-2:checked ~ .dots #label-2,
#radio-3:checked ~ .dots #label-3,
#radio-4:checked ~ .dots #label-4,
#radio-5:checked ~ .dots #label-5 {
  background: #39a6f0;
  opacity: 1;
} */

/* .section-5 {
  background-image: url("images/6\ section.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
} */

/* .section-5 h2 {
  text-align: center;
  font-size: 40px;
  max-width: 1000px;
  width: 100%;
  color: white;
  z-index: 2;
}
.section-5 h2 small {
  display: block;
  color: #bbc4c5;
  font-size: 25px;
  z-index: 1;
}

#slider--text {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.fade-in {
  animation: fade 4s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: rotate3d(2, 2, 0, 48deg);
  }
  20% {
    opacity: 1;
    transform: rotate3d(0, 0, 0, 24deg);
  }
  80% {
    opacity: 1;
    transform: rotate3d(0, 0, 0, 24deg);
  }
  100% {
    opacity: 0;
    transform: rotate3d(-2, -2, 0, 48deg);
  }
} */

/* 6section  */
.section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  margin-top: 80px;
  margin-bottom: 80px;
}

.section6 h1 {
  font-weight: 300;
  font-size: 65px;
  padding: 15px;
  text-shadow: 0 0 3px #141414d5;
}

.sec6-box {
  background-color: rgb(117, 179, 230);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  width: 100%;
  height: 400px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.sec6-box:nth-of-type(even) {
  transform: translateX(-400%);
}

.sec6-box.show {
  transform: translateX(0);
}
.sec6-box p {
  font-size: 21px;
  line-height: 1.5;
  margin: 8px;
}

.sec6-box h2 {
  font-size: 55px;
}
.sec6-box img {
  width: 120px;
  height: 120px;
}

/* section 7 */
.section-7 {
  margin-bottom: 90px;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-image: url("images/2809296.jpg");
  background-size: cover;
  align-items: center;
}

.accordion {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.acordion-box {
  border-width: 1px;
  border-style: solid;
  border-color: #37393a48;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}

.questions::after {
  content: "";
  max-width: 550px;
  width: 100%;
  height: 2px;
  background-color: #1f97e7;
  display: block;
  margin-top: 9px;
}

.questions {
  font-size: 30px;
  margin-bottom: 25px;
  color: aliceblue;
}

.accordion-title {
  cursor: pointer;
  position: relative;
  padding: 8px;
  font-size: 16px;
  color: white;
}

.accordion-title::before {
  content: "⇩";
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.accordion-content {
  position: relative;
  color: #151616;
  font-size: 18px;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: white;
}

.acordion-box.active .accordion-content {
  padding: 15px;
  height: 200px;
  background: none;
}

.acordion-box.active .accordion-title::before {
  content: "⇧";
  font-size: 30px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  position: absolute;
}

/* footer */
.footer-distributed {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  padding: 50px 50px;
}

/* Footer left */

.footer-left {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Footer-Logo {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.footer-left h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  color: #1d242b;
}

.footer-company-name {
  color: #191919;
  font-size: 18px;
  font-weight: normal;
  margin-top: 40px;
}
.footer-icons {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icons-box i {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  border-color: #34495e;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  color: #191919de;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
}
.footer-icons i:hover {
  background-color: #39a6f0;
}
.footer-company-name {
  color: #191919;
  font-size: 18px;
  margin-top: 40px;
}

/* Footer Center */

.footer-center i {
  color: #191919c9;
  font-size: 21px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border-width: 1px;
  border-color: #222;
  border-style: solid;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  margin-bottom: 25px;
}
.footer-center i:hover {
  background-color: #39a6f0;
}
.footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-center p {
  display: inline-block;
  color: #1d242b;
  font-weight: 400;
  vertical-align: middle;
}

.footer-center span {
  display: block;
  font-weight: normal;
  font-size: 20px;
  line-height: 2;
}

.footer-center {
  margin: 15px;
}

.E-Mail {
  color: #151616;
  font-size: 21px;
}
.E-Mail:hover {
  color: #1f97e7;
}
/* Footer Right */
.footer-right h3 {
  color: #1d242b;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.footer-right li {
  margin-top: 10px;
}

.footer-right a {
  color: #1d242b;
  font-size: 21px;
}
.footer-right a:hover {
  color: #1f97e7;
}
