html {
  scroll-behavior: smooth;
}

/* Header  */
header {
  margin: 0 auto;
  width: 100%;
  align-items: center;
  display: flex;
  z-index: 1;
}

.navigation {
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.Navigation-ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-list {
  color: white;
  font-style: normal;
  margin-left: 30px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.nav-list:hover {
  text-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}

.Logo {
  width: 85px;
  height: 75px;
  margin-left: 10%;
}

/* dropdown */
.Navigation-ul ul {
  position: absolute;
}

.dropdown_menu {
  margin-left: 30px;
  display: none;
}

.dropdown_menu a {
  color: white;
}
.dropdown_menu li {
  margin-top: 15px;
  font-size: 20px;
}
.dropdown_menu li :hover {
  text-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}

.header-list:hover .dropdown_menu {
  display: block;
}

/* 1 section */
.scroll {
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.829);
  padding: 5px;
  z-index: 2;
}
.scrollicon {
  color: #fff;
  font-size: 30px;
}
.First-section {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-image: url("images/Cover\ 8\ older.jpg");
}

.Slogan-box {
  position: absolute;
  margin-left: 25px;
  top: 65%;
  left: 30%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 700px;
}
.Slogan {
  color: white;
  font-size: 90px;
  font-family: "Lato", sans-serif;
}

.Slogan span {
  border-width: 0.5px;
  color: white;
  padding: 2px;
  font-size: 95px;
}
.Our-Services {
  position: absolute;
  border-radius: 50px;
  border-style: none;
  margin-top: 18px;
  height: 55px;
  width: 180px;
  font-size: 18px;
  color: white;
  background-color: #4bacec;
}

.Our-Services:hover {
  background-color: #1f97e7;
  text-shadow: #c9c1bf;
}

/* second section  */
.Second-section {
  margin: 0 auto;
  margin-bottom: 50px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutus-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.aboutus-container h2 {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
}

.aboutus-container h2::after {
  content: "";
  width: 300px;
  height: 2px;
  background-color: #39a6f0;
  display: block;
  margin-top: 5px;
}

.aboutus-container h4 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(12, 8, 8);
  line-height: 1.3;
}

.aboutus-container p {
  font-size: 21px;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
}

.BG-image {
  min-width: 500px;
  width: 100%;
  border-radius: 10px;
  border: none;
}

/* 3 section */
.Third-section {
  background-image: url("images/2809296.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  align-items: center;
  margin-bottom: 50px;
}

.wyntp-title {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-left: 20px;
}
.wyntp-title h2 {
  color: white;
  font-size: 90px;
}

.whyntp-container {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.whyntp {
  color: white;
  font-size: 18px;
  margin-right: 60px;
  margin-top: 60px;
  line-height: 1.3;
}
.whyntp span {
  font-size: 35px;
  font-weight: bold;
}

.whyntp2 {
  color: white;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 20px;
}

/*4 section  */
.Fourth-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.Fourth-section h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.whatwedo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.box-wrapper {
  max-width: 1000px;
  width: 100%;
  display: flex;
}
.box-wrapper1 {
  max-width: 1000px;
  width: 100%;
  display: flex;
}
.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 250px;
  margin: 20px;
  padding: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: #37393a48;
}

.box1:hover {
  border: none;
  box-shadow: 3px 3px 3px 3px #37393a48;
}

.box1 img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.box1 h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

/* 5 section */
.Five-section {
  margin-bottom: 50px;
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  background-image: url("images/ასა.jpg");
  background-size: cover;
  align-items: center;
}
.Five-section img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.accordion {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.acordion-box {
  border-width: 1px;
  border-style: solid;
  border-color: #37393a48;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}

.questions::after {
  content: "";
  max-width: 550px;
  width: 100%;
  height: 2px;
  background-color: #1f97e7;
  display: block;
  margin-top: 9px;
}

.questions {
  font-size: 30px;
  margin-bottom: 25px;
  color: aliceblue;
}

.accordion-title {
  cursor: pointer;
  position: relative;
  padding: 5px;
  font-size: 16px;
  color: white;
}

.accordion-title::before {
  content: "▼";
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.accordion-content {
  position: relative;
  color: #151616;
  font-size: 18px;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: white;
}

.acordion-box.active .accordion-content {
  padding: 15px;
  height: 200px;
  background: none;
}

.acordion-box.active .accordion-title::before {
  content: "^";
  font-size: 25px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  position: absolute;
}

/* 6section  */
.sixth-section {
  height: 100vh;
  display: flex;
}
.container6 {
  display: flex;
}
.Our_Team {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 15px;
}
.Our_Team img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 40px;
}
.Our_Team h2 {
  font-size: 80px;
  margin-bottom: 35px;
}

.Our_Team p {
  font-size: 25px;
  line-height: 1.2;
}

.MV-container {
  width: 100%;
  background-image: url("images/2809296.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.MV-container h2 {
  color: white;
  font-size: 100px;
  margin-bottom: 50px;
}
.MV-container h4 {
  color: white;
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.MV-container p {
  color: white;
  font-size: 20px;
  line-height: 1.2;
}

/* footer */
footer {
  height: 500px;
  margin-top: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
.Left-footer {
  display: flex;
  flex-direction: column;
  margin: 50px;
  text-align: center;
}

.Left-footer div {
  margin-top: 15px;
}

.Middle-footer {
  display: flex;
  flex-direction: column;
  margin: 50px;
  text-align: center;
}

.Right-footer {
  display: flex;
  flex-direction: column;
  margin: 50px;
  text-align: center;
}

footer li {
  margin-top: 15px;
  color: black;
}

footer a {
  color: #151616;
}
footer h4 {
  font-size: 24px;
  margin-bottom: 10px;
}
