html {
  scroll-behavior: smooth;
}
body {
  /* font-family:'Times New Roman', Times, serif */
  font-family: inherit;
}
/* header */
.Header {
  width: 100%;
  margin: 0 auto;
  padding: 35px;
  align-items: center;
  z-index: 1;
  display: flex;
}

.Logo {
  width: 85px;
  height: 85px;
  margin-left: 10%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  align-items: center;
  width: 100%;
}
.nav-items {
  margin: 0 auto;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-list {
  color: white;
  font-style: normal;
  margin-left: 30px;
  font-size: 19px;
}

/* dropdown */
#Navigation-ul ul {
  position: absolute;
}

.dropdown_menu {
  margin-left: 30px;
  display: none;
}

.dropdown_menu a {
  color: white;
}
.dropdown_menu li {
  margin-top: 15px;
  font-size: 20px;
}
.dropdown_menu li :hover {
  text-shadow: 0 0 3px #c9c1bf, 0 0 5px white !important;
}

.header-list:hover .dropdown_menu {
  display: block;
}

.Language:hover {
  text-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}
/* burgerstyles */

.test {
  cursor: pointer;
}

.menu-btn {
  transition: all 0.5s ease-in-out;
  display: none;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* animation */

.menu-btn.open .menu-btn__burger {
  transform: translate(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.show {
  display: block !important;
}

.Language {
  color: white;
  font-weight: bold;
  font-size: 21px;
  font-family: "Nunito", sans-serif;
}
/* scrol  */

.scroll {
  position: fixed;
  left: 25px;
  bottom: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #1f97e7;
  border-color: #39a6f0;
  padding: 5px;
  z-index: 1;
}
.scrollicon {
  color: #fff;
  font-size: 25px;
  margin: 0 auto;
}
/* 1 section */

.First-section {
  margin: 0 auto;
  /* margin-bottom: 150px; */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("images/NTP_\ cover-optimized.png");
}

.Slogan-box {
  position: absolute;
  margin-left: 25px;
  top: 60%;
  left: 30%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 700px;
}
.Slogan {
  color: white;
  font-size: 85px;
  font-family: "Nunito", sans-serif;
}

.Our-Services {
  position: absolute;
  border-radius: 50px;
  border-style: none;
  margin-top: 30px;
  height: 55px;
  width: 180px;
  font-size: 18px;
  color: white;
  background-color: #4bacec;
}

.Our-Services:hover {
  background-color: #1f97e7;
  text-shadow: #c9c1bf;
}

/* second section  */
.Second-section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.integrator {
 color:#1f97e7;
 /* text-decoration: underline; */
}
.integrator span {
  color: #151616;
}
.aboutus-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus-container h2 {
  font-size: 45px;
  margin-bottom: 15px;
  margin-right: 65px;
  text-align: center;
}

.aboutus-container h4 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #191919;
  line-height: 1.3;
}

.aboutus-container p {
  font-size: 19px;
  line-height: 1.3;
  color: #191919;
}
.BG-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.BG-image-box > div {
  width: 350px;
  height: 300px;
  overflow: hidden;
}

.BG-image {
  height: 100%;
  width: auto;
}

/* 3 section */
.Third-section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  align-items: center;
  margin-bottom: 80px;
}
.Third-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Third-image-box > div {
  width: 350px;
  height: 300px;
  margin: 15px;
}

.sec3-image {
  height: 100%;
  width: auto;
}

/* how we do it  */
.How-we-do {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
}
.How-we-do h2 {
  font-size: 45px;
  color: black;
  padding: 25px;
}
.How-we-do h4 {
  color: black;
  font-size: 22px;
  text-align: center;
  line-height: 1.3;
}

.How-we-do p {
  color: black;
  font-size: 18px;
  line-height: 1.2;
  max-width: 550px;
  padding: 15px;
}

/*4 section  */

.Fourth-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 350px;
}

.Fourth-section h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.whatwedo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 250px;
  margin: 20px;
  padding: 25px;
}

.box1:hover {
  border: none;
  box-shadow: 3px 3px 3px 3px #7cb6dd;
}
.box1 img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.box1 h3 {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.2;
}
.box1 a {
  color: #020202;
}
.box1 a:hover {
  color: #1f97e7;
  font-weight: bold;
}

/* 6section  */
.section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  margin-top: 80px;
  margin-bottom: 80px;
}

.sec6-box {
  background-color: rgb(33, 130, 209);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  width: 100%;
  height: 400px;
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.sec6-box:nth-of-type(even) {
  transform: translateX(-400%);
}

.sec6-box.show {
  transform: translateX(0);
}
.sec6-box p {
  font-size: 16px;
  line-height: 1.3;
}

.sec6-box h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.sec6-box img {
  width: 120px;
  height: 120px;
}

/* section 7 */
.section-7 {
  margin-top: 50px;
  margin-bottom:150px;
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FAQ-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.FAQ-image-container > div {
  width: 450px;
  height: 450px;
  overflow: hidden;
}

.Faq-image {
  height: 100%;
  width: auto;
}

.accordion {
  max-width: 700px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  z-index: 5;
}

.acordion-box {
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-bottom-color: grey;
  margin: 15px;
  padding: 10px;
  z-index: 1;
}

.questions::after {
  content: "";
  max-width: 475px;
  width: 100%;
  height: 2px;
  background-color: #1f97e7;
  display: block;
  margin-top: 9px;
}

.questions {
  font-size: 30px;
  margin-bottom:15px;
  color: black;
}

.accordion-title {
  cursor: pointer;
  position: relative;
  padding: 10px;
  font-size: 16px;
  color: white;
  color: black;
  line-height: 1.2;
  z-index: 1;
}
.accordion-content {
  position: relative;
  color: #151616;
  font-size: 16px;
  line-height: 1.2;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.accordion-title::before {
  content: "⇩";
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.acordion-box.active .accordion-content {
  padding: 15px;
  height: 100%;
  background: none;
}

.acordion-box.active .accordion-title::before {
  content: "⇧";
  font-size: 25px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  position: absolute;
}

/* footer */
.footer-distributed {
  display: flex;
  justify-content: space-around;
  padding: 40px 40px;
}

/* Footer left */

.footer-left {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Footer-Logo {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.footer-left h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  color: #1d242b;
}

.footer-company-name {
  color: #191919;
  font-size: 18px;
  font-weight: normal;
  margin-top: 40px;
}
.footer-icons {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icons-box i {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  border-color: #34495e;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  color: #191919de;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
}
.footer-icons i:hover {
  background-color: #39a6f0;
}
.footer-company-name {
  color: #191919;
  font-size: 18px;
  margin-top: 30px;
}

/* Footer Center */

.footer-center i {
  color: #191919c9;
  font-size: 21px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border-width: 1px;
  border-color: #222;
  border-style: solid;
  text-align: center;
  line-height: 42px;
  margin: 20px 15px;
  vertical-align: middle;
}
.footer-center i:hover {
  background-color: #39a6f0;
}

.Location-footer {
  display: flex;
  align-items: center;
}
.location {
  color: #151616;
}
.Location-footer span {
  font-size: 19px;
}
.Location-footer span:hover {
  color: #39a6f0;
}

.Phone-footer {
  display: flex;
  align-items: center;
}

.phone {
  color: #151616;
  font-size: 19px;
}
.phone:hover {
  color: #39a6f0;
}
.Email-footer {
  display: flex;
  align-items: center;
}
.E-Mail {
  color: #151616;
  font-size: 19px;
}
.E-Mail:hover {
  color: #39a6f0;
}
/* Footer Right */
.footer-right {
  margin-left: 10px;
}
.footer-right h3 {
  color: #1d242b;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}

.footer-right li {
  margin-top: 10px;
}

.footer-right a {
  color: #1d242b;
  font-size: 19px;
}
.footer-right a:hover {
  color: #1f97e7;
}
