html {
  scroll-behavior: smooth;
}

/* header */
.Header {
  width: 100%;
  margin: 0 auto;
  padding: 35px;
  align-items: center;
  z-index: 1;
  display: flex;
}

.Logo {
  width: 85px;
  height: 75px;
  margin-left: 10%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  align-items: center;
  width: 100%;
}
.nav-items {
  margin: 0 auto;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-list {
  color: white;
  font-style: normal;
  margin-left: 30px;
  font-size: 25px;
}

.nav-ul :hover {
  text-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}
/* dropdown */
#Navigation-ul ul {
  position: absolute;
}

.dropdown_menu {
  margin-left: 30px;
  display: none;
}

.dropdown_menu a {
  color: white;
}
.dropdown_menu li {
  margin-top: 15px;
  font-size: 20px;
}
.dropdown_menu li :hover {
  text-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}

.header-list:hover .dropdown_menu {
  display: block;
}

/* burgerstyles */

.test {
  cursor: pointer;
}

.menu-btn {
  transition: all 0.5s ease-in-out;
  display: none;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* animation */

.menu-btn.open .menu-btn__burger {
  transform: translate(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.show {
  display: block !important;
}

.Language {
  color: white;
  font-weight: bold;
}

/* 1 section */
.scroll {
  position: fixed;
  left: 25px;
  bottom: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #1f97e7;
  border-color: #39a6f0;
  padding: 5px;
  z-index: 1;
}
.scrollicon {
  color: #fff;
  font-size: 25px;
  margin: 0 auto;
}
.First-section {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("images/NTP_\ cover-optimized.png");
}

.Slogan-box {
  position: absolute;
  margin-left: 25px;
  top: 65%;
  left: 30%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 700px;
}
.Slogan {
  color: white;
  font-size: 90px;
  font-family: "Lato", sans-serif;
}

/* */
.Our-Services {
  position: absolute;
  border-radius: 50px;
  border-style: none;
  margin-top: 18px;
  height: 55px;
  width: 180px;
  font-size: 18px;
  color: white;
  background-color: #4bacec;
}

.Our-Services:hover {
  background-color: #1f97e7;
  text-shadow: #c9c1bf;
}

/* second section  */
.Second-section {
  margin: 0 auto;
  margin-bottom: 80px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.aboutus-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.aboutus-container h2 {
  font-weight: 500;
  font-size: 45px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #191919, #191919);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear;
  position: relative;
  animation-iteration-count: 1;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.aboutus-container h4 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #191919;
  line-height: 1.3;
}

.aboutus-container p {
  font-size: 21px;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
  color: #191919;
}

.BG-image {
  min-width: 500px;
  width: 100%;
  border-radius: 10px;
  border: none;
}

/* 3 section */
.Third-section {
  background-image: url("images/2809296.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
  margin-bottom: 80px;
  /* flex-direction: column; */
}

.wyntp-title {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-left: 20px;
}
.wyntp-title h2 {
  color: white;
  font-size: 90px;
}

.whyntp-container {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.whyntp {
  color: white;
  font-size: 18px;
  margin-right: 50px;
  margin-top: 60px;
  line-height: 1.3;
}
.whyntp span {
  font-size: 35px;
  font-weight: bold;
}

.whyntp2 {
  color: white;
  font-size: 18px;
  line-height: 1.3;
  margin-top: 20px;
  margin-right: 50px;
}
.whyntp2 a {
  color: #1f97e7;
  font-weight: bold;
}

/*4 section  */

.Fourth-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  margin-bottom: 80px;
}

.Fourth-section h2 {
  font-size: 50px;
  margin-bottom: 80px;
}

.whatwedo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 250px;
  margin: 20px;
  padding: 25px;
}

.box1:hover {
  border: none;
  box-shadow: 3px 3px 3px 3px #37393a48;
}

.box1 img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.box1 h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
.box1 a {
  color: #020202;
}
.box1 a:hover {
  color: #1f97e7;
  font-weight: bold;
}

/* 5 section */
.section-5 {
  background-image: url("images/Cover\ 2\ \(without\ text\).png");
  background-size: cover;
  height: 100vh;
  text-align: center;
  margin-bottom: 80px;
}

.section-5 h2 {
  text-align: center;
  font-size: 40px;
  max-width: 1000px;
  width: 100%;
  color: white;
}
.section-5 h2 small {
  display: block;
  color: #bbc4c5;
  font-size: 25px;
}

#slider--text {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.fade-in {
  animation: fade 4s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: rotate3d(2, 2, 0, 48deg);
  }
  20% {
    opacity: 1;
    transform: rotate3d(0, 0, 0, 24deg);
  }
  80% {
    opacity: 1;
    transform: rotate3d(0, 0, 0, 24deg);
  }
  100% {
    opacity: 0;
    transform: rotate3d(-2, -2, 0, 48deg);
  }
}

/* 6section  */
.section6 {
  display: flex;
  height: 100vh;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section6 h2 {
  font-size: 80px;
  margin-bottom: 20px ;
}
.sec6-box-wrapper {
  height: 100vh;
  margin: 0 auto;
  display: flex;
}
.left-box {
  max-width: 400px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.836);
}

.left-box:hover {
  border-color: #39a6f0;
}
.left-box h2 {
  font-size: 50px;
  color: #151616;
}

.left-box p {
  font-size: 20px;
  line-height: 1;
  color: #191919;
  margin-top: 20px;
}
.left-box img {
  width: 100px;
  height: 100px;
}

.middle-box {
  max-width: 400px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin-left: 25px;
  margin-right: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.836);
}
.middle-box:hover {
  border-color: #39a6f0;
}
.middle-box h2 {
  font-size: 50px;
  color: #151616;
}

.middle-box p {
  font-size: 20px;
  line-height: 1.2;
  color: #191919;
  margin-top: 20px;
}
.middle-box img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.right-box {
  max-width: 400px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.836);
}
.right-box:hover {
  border-color: #39a6f0;
}
.right-box img {
  width: 100px;
  height: 100px;
}
.right-box h2 {
  font-size: 50px;
  color: #151616;
}

.right-box p {
  font-size: 20px;
  line-height: 1.1;
  color: #191919;
  margin-top: 20px;
}
/* section 7 */
.section-7 {
  margin-bottom: 90px;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-image: url("images/2809296.jpg");
  background-size: cover;
  align-items: center;
}

.accordion {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.acordion-box {
  border-width: 1px;
  border-style: solid;
  border-color: #37393a48;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 0 3px #c9c1bf, 0 0 5px white;
}

.questions::after {
  content: "";
  max-width: 550px;
  width: 100%;
  height: 2px;
  background-color: #1f97e7;
  display: block;
  margin-top: 9px;
}

.questions {
  font-size: 30px;
  margin-bottom: 25px;
  color: aliceblue;
}

.accordion-title {
  cursor: pointer;
  position: relative;
  padding: 8px;
  font-size: 16px;
  color: white;
}

.accordion-title::before {
  content: "⇩";
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.accordion-content {
  position: relative;
  color: #151616;
  font-size: 18px;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: white;
}

.acordion-box.active .accordion-content {
  padding: 15px;
  height: 200px;
  background: none;
}

.acordion-box.active .accordion-title::before {
  content: "⇧";
  font-size: 30px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  position: absolute;
}

/* footer */
.footer-distributed {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  padding: 50px 50px;
}

/* Footer left */

.footer-left {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Footer-Logo {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.footer-left h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  color: #1d242b;
}

.footer-company-name {
  color: #191919;
  font-size: 18px;
  font-weight: normal;
  margin-top: 40px;
}
.footer-icons {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons-box i {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  border-color: #34495e;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  color: #191919de;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
}
.footer-icons i:hover {
  background-color: #39a6f0;
}
.footer-company-name {
  color: #191919;
  font-size: 18px;
  font-weight: normal;
  margin-top: 40px;
}

/* Footer Center */

.footer-center i {
  color: #191919c9;
  font-size: 21px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border-width: 1px;
  border-color: #222;
  border-style: solid;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-center i:hover {
  background-color: #39a6f0;
}
.footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-center p {
  display: inline-block;
  color: #1d242b;
  font-weight: 400;
  vertical-align: middle;
}

.footer-center span {
  display: block;
  font-weight: normal;
  font-size: 20px;
  line-height: 2;
}

.footer-center {
  margin: 15px;
}

.E-Mail {
  color: #151616;
  font-size: 21px;
}
.E-Mail:hover {
  color: #1f97e7;
}
/* Footer Right */
.footer-right h3 {
  color: #1d242b;
  font-size: 25px;
  font-weight: bold;
}

.footer-right li {
  margin-top: 10px;
}

.footer-right a {
  color: #1d242b;
  font-size: 21px;
}
.footer-right a:hover {
  color: #1f97e7;
}
